:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.desktop-menu-hi-fi {
  grid-column-gap: 142px;
  object-fit: fill;
  background-color: #4b4bfb;
  border: 0 solid #fe7563;
  border-bottom-width: 1px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  padding: 28px 24px;
  text-decoration: none;
  display: none;
  overflow: visible;
}

.vectors-wrapper {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 94px;
  text-decoration: none;
  display: flex;
}

.menu-item-10 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  margin-left: 48px;
  padding: 10px 18px 10px 10px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 12.0099px;
  height: 7.0116px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-3 {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 42px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-4 {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  text-decoration: none;
  display: flex;
}

.login-button {
  grid-column-gap: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 24px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 106.594px;
  margin-left: 24px;
  padding: 8px 24px;
  text-decoration: none;
  display: flex;
}

.login-button:hover {
  background-color: #fff;
}

.text-2 {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-2:hover {
  color: #4b4bfb;
}

.div-block {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.sign-up-button {
  grid-column-gap: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 24px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 106.594px;
  margin-left: 24px;
  padding: 8px 24px;
  text-decoration: none;
  display: flex;
}

.sign-up-button:hover {
  color: #4b4bfb;
  background-color: #fff;
}

.div-block-2 {
  justify-content: center;
  align-items: center;
  width: 120px;
  display: flex;
}

.div-block-3 {
  display: flex;
}

.div-block-4 {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: auto;
  display: block;
}

.frame-59 {
  grid-column-gap: 967px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
  text-decoration: none;
  display: flex;
}

.frame-60 {
  grid-row-gap: 10px;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 193px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-5 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-6 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 162.829px;
  text-decoration: none;
  display: flex;
}

.hero-banner {
  grid-row-gap: 10px;
  -webkit-text-fill-color: inherit;
  object-fit: contain;
  background-color: #fff;
  background-image: url('../images/Frame-59.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: content-box;
  border: 0 solid #000;
  border-bottom-width: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-decoration: none;
  display: flex;
  position: static;
  overflow: visible;
}

.frame-58 {
  grid-row-gap: 37px;
  overflow-wrap: normal;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration: none;
  display: flex;
  position: static;
  top: 75px;
  left: 393px;
}

.frame-57 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #4b4bfb;
  text-align: center;
  letter-spacing: .31em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 62px;
  font-weight: 500;
  line-height: 100.43%;
  text-decoration: none;
}

.vectors-wrapper-7 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #464646;
  text-align: center;
  width: 700px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Opensans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 100.43%;
  text-decoration: none;
}

.frame-56 {
  grid-column-gap: 48px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-7 {
  grid-column-gap: 10px;
  background-color: rgba(75, 75, 251, 0);
  border: 1px #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-5 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: normal;
  cursor: pointer;
  background-color: #4b4bfb;
  border: 1px solid #4b4bfb;
  border-radius: 25.5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 24px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-5:hover {
  color: #4b4bfb;
  white-space: nowrap;
  background-color: #fff;
}

.frame-6 {
  grid-column-gap: 10px;
  border: 2px solid #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-6 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.grid {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.frame-61 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-55 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.ellipse-3 {
  object-fit: fill;
  width: 20vw;
  height: 20vw;
  margin-bottom: 24px;
  padding-bottom: 0;
}

.frame-8 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-7 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-9 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.grid-body {
  color: #464646;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Opensans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
}

.frame-10 {
  grid-column-gap: 10px;
  cursor: pointer;
  border-radius: 25.5px;
  justify-content: flex-start;
  align-items: center;
  width: 130.012px;
  height: 42px;
  padding: 24px 24px 12px 0;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-8 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-62 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-63 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-64 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-65 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.text-10 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-9 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.grid-img-card-1 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
  text-decoration: none;
  display: flex;
}

.frame-67 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-68 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 20vw;
  max-width: 330px;
  height: 68px;
  padding: 24px 10px 18px;
  text-decoration: none;
  display: flex;
}

.text-11 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-69 {
  grid-column-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
  max-width: none;
  height: auto;
  margin-top: 32px;
  padding: 0 8px 18px;
  text-decoration: none;
  display: flex;
}

.text-12 {
  color: #4b4bfb;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Opensans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.text-12:hover {
  text-decoration: underline;
}

.vectors-wrapper-10 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-70 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-71 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-72 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-13 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-73 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.text-14 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-11 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-74 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-75 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-76 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-15 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-77 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.text-16 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-12 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-78 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-79 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-80 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-17 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-81 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.text-18 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-13 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-82 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-83 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-84 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-19 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-85 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.frame-86 {
  grid-column-gap: 10px;
  border-radius: 25.5px;
  justify-content: center;
  align-items: center;
  width: 130.012px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.text-20 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-14 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.frame-87 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px 26px;
  text-decoration: none;
  display: flex;
}

.frame-88 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 68px;
  padding: 18px 10px;
  text-decoration: none;
  display: flex;
}

.text-21 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-89 {
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 108px;
  padding: 18px 8px;
  text-decoration: none;
  display: flex;
}

.frame-90 {
  grid-column-gap: 10px;
  border-radius: 25.5px;
  justify-content: center;
  align-items: center;
  width: 130.012px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.text-22 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-15 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 7.0116px;
  height: 12.0099px;
  text-decoration: none;
  display: flex;
}

.div-block-5 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.grid-img-card-2 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  text-decoration: none;
  display: flex;
}

.grid-img-card-2-v2 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 48px;
  text-decoration: none;
  display: flex;
}

.grid-img-card-3 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
  text-decoration: none;
  display: flex;
}

.grid-img-card-4, .grid-img-card-5, .grid-img-card-6 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 48px;
  text-decoration: none;
  display: flex;
}

.frame-91 {
  grid-row-gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-23 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-16 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.error-ba3a9b37-70bd-ca3e-55bf-556e49057da7 {
  color: #fff;
  width: 480px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Opensans, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: none;
}

.img-banner {
  grid-row-gap: 10px;
  background-color: #fff;
  background-image: url('../images/Frame-60.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  max-width: none;
  height: 60vh;
  padding: 86px 117px;
  text-decoration: none;
  display: flex;
}

.frame-93 {
  grid-row-gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-24 {
  color: #fff;
  width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-17 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.get-started-banner {
  z-index: 0;
  grid-row-gap: 10px;
  background-image: url('../images/Secondary-section-img.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: none;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-94 {
  grid-column-gap: 126px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-49 {
  grid-column-gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 448px;
  text-decoration: none;
  display: flex;
}

.bio-frame {
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #464646;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 129px;
  margin-bottom: 18px;
  padding: 24px 0;
  text-decoration: none;
  display: flex;
}

.build-your-bio {
  color: #464646;
  text-align: center;
  -webkit-text-stroke-color: #464646;
  white-space: normal;
  overflow-wrap: normal;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 129px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 46px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.build-your-bio:hover {
  color: #fff;
  background-color: #4b4bfb;
  border-color: #4b4bfb;
}

.frame-20 {
  grid-column-gap: 10px;
  background-color: rgba(75, 75, 251, 0);
  border: 1px #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 62px;
  text-decoration: none;
  display: flex;
}

.text-25 {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #4b4bfb;
  border: 1px solid #4b4bfb;
  border-radius: 25.5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 62px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.text-25:hover {
  color: #4b4bfb;
  background-color: #fff;
}

.frame-48 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 606px;
  text-decoration: none;
  display: flex;
}

.error-377d398b-5c86-2fd8-8327-b1dc62b73497 {
  color: #464646;
  width: 35vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-18 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.share-frame {
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #464646;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 129px;
  margin-bottom: 18px;
  padding: 24px 0;
  text-decoration: none;
  display: flex;
}

.connect-button, .find-host-button {
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #464646;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 129px;
  margin-bottom: 48px;
  padding: 24px 18px;
  text-decoration: none;
  display: flex;
}

.frame-95 {
  z-index: -1;
  grid-row-gap: 10px;
  background-color: #4b4bfb;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
  max-width: none;
  height: 85vh;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-96 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.do-you-have-an-opportunity-to-share {
  color: #fff;
  width: 40vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-19 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 24px;
  margin-bottom: 40px;
  text-decoration: none;
  display: flex;
}

.text-26 {
  color: #fff;
  width: 40vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Opensans, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: none;
}

.learn-more-button {
  grid-column-gap: 10px;
  background-color: rgba(75, 75, 251, 0);
  border: 1px #fff;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 12px 62px 12px 0;
  text-decoration: none;
  display: inline-block;
}

.text-27 {
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 25.5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 62px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.text-27:hover {
  color: #4b4bfb;
  background-color: #fff;
}

.img {
  object-fit: fill;
  background-image: url('../images/banner-circle-imgs.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 95vh;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 0;
  display: none;
  position: absolute;
  top: 458%;
  bottom: 0%;
  left: auto;
  right: -2%;
  overflow: hidden;
}

.img-text-container {
  justify-content: center;
  align-items: center;
  margin-left: 117px;
  display: flex;
}

.div-block-6 {
  z-index: -1;
  background-color: #fff;
  display: flex;
  position: relative;
}

.div-block-7 {
  background-color: #fff;
}

.img-space {
  object-fit: contain;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  width: 60vw;
  height: 90vh;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.div-block-8 {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
}

.more-opportunities-button {
  grid-column-gap: 10px;
  background-color: rgba(75, 75, 251, 0);
  border: 1px #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 62px;
  text-decoration: none;
  display: flex;
}

.last-banner-call-out {
  z-index: -1;
  grid-row-gap: 124px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  max-width: none;
  height: auto;
  margin-top: 100px;
  text-decoration: none;
  display: flex;
  position: relative;
  top: 40px;
}

.frame-51 {
  grid-column-gap: 43px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 780px;
  text-decoration: none;
  display: flex;
}

.error-249b0af0-738a-32a1-697e-0a862f0cb122 {
  color: #464646;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-97 {
  grid-column-gap: 10px;
  background-color: #4b4bfb;
  border: 1px solid #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-28 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-98 {
  grid-column-gap: 10px;
  border: 2px solid #4b4bfb;
  border-radius: 25.5px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-29 {
  color: #4b4bfb;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-20 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 198px;
  text-decoration: none;
  display: flex;
}

.footer {
  grid-row-gap: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-21 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  min-width: auto;
  max-width: none;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  display: flex;
}

.footer-2 {
  grid-row-gap: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: relative;
}

.vectors-wrapper-22 {
  object-fit: fill;
  background-color: #fff;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: none;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.footer-3 {
  grid-row-gap: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-23 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  max-width: none;
  height: 20vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.body {
  cursor: pointer;
  object-fit: fill;
}

.footer-4 {
  background-color: #fff;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-left: 100px;
  margin-right: 0;
  padding-right: 100px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-24 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.footer-5 {
  z-index: -2;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 254px;
  text-decoration: none;
  display: flex;
  position: relative;
  top: 23px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.vectors-wrapper-25 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  text-decoration: none;
  display: flex;
  position: static;
  top: 276px;
  overflow: hidden;
}

.line-break {
  background-color: #464646;
  justify-content: space-around;
  align-items: flex-end;
  width: 100vw;
  height: 1px;
  display: flex;
  position: static;
}

.frame-23 {
  object-fit: contain;
  background-color: #fff;
  border: 0 solid #464646;
  border-bottom-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  max-width: none;
  height: 92px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-26 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 92px;
  text-decoration: none;
  display: flex;
}

.frame-99 {
  object-fit: scale-down;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  max-width: none;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-27 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  max-width: none;
  height: 92px;
  text-decoration: none;
  display: flex;
  position: relative;
  left: -59px;
}

.div-block-9 {
  background-color: #464646;
  width: 100vw;
  height: 1px;
}

.dropdown-menu {
  display: none;
}

.secondary-banner, .more-opportunites-button {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
}

.blue-banner {
  z-index: 20000;
  grid-row-gap: 10px;
  background-color: rgba(75, 75, 251, 0);
  background-image: url('../images/Rectangle-51.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
  max-width: none;
  height: 900px;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: relative;
  top: -65px;
  overflow: hidden;
}

.desktop-menu-hi-fi-2 {
  grid-column-gap: 95px;
  background-color: #4b4bfb;
  border: 0 solid #fe7563;
  border-bottom-width: 1px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 28px 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-28 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 94px;
  text-decoration: none;
  display: flex;
}

.menu-item-11 {
  grid-column-gap: 10px;
  cursor: pointer;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  margin-left: 60px;
  padding: 10px 18px 10px 10px;
  text-decoration: none;
  display: flex;
}

.text-30 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-29 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 12.0099px;
  height: 7.0116px;
  text-decoration: none;
  display: flex;
}

.frame-21 {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 10px;
  text-decoration: none;
  display: flex;
}

.frame-2 {
  grid-column-gap: 10px;
  background-color: #fff;
  border-radius: 23px;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  max-width: 370px;
  height: 44px;
  padding: 10px 80px 10px 18px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-30 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 19.108px;
  height: 19.1087px;
  text-decoration: none;
  display: flex;
}

.text-31 {
  color: #464646;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-4 {
  grid-column-gap: 10px;
  border: 1px #fff;
  border-radius: 24px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  text-decoration: none;
  display: flex;
}

.login-menu-button {
  outline-offset: 0px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 25px;
  outline: 1px #fff;
  width: 91px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 24px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.login-menu-button:hover {
  color: #4b4bfb;
  background-color: #fff;
}

.div-block-10 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sign-up-menu-button {
  outline-offset: 0px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 25px;
  outline: 1px #fff;
  width: 108px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  padding: 8px 24px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.sign-up-menu-button:hover {
  color: #4b4bfb;
  background-color: #fff;
}

.share-button {
  color: #464646;
  text-align: center;
  -webkit-text-stroke-color: #464646;
  white-space: normal;
  overflow-wrap: normal;
  border: 1px solid #464646;
  border-radius: 20px;
  width: 199px;
  height: 129px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 46px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.share-button:hover {
  color: #fff;
  background-color: #4b4bfb;
  border-color: #4b4bfb;
}

.art-frame, .residency-frame {
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #464646;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 129px;
  margin-bottom: 48px;
  padding: 24px 0;
  text-decoration: none;
  display: flex;
}

.div-block-11 {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}


@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}